.App {
  text-align: center;
  border: none;
  border-radius: 24px;
  width: 90vw;
  height: 90vh;
  overflow-y: auto;
  color: var(--mytext);
}

/* @media (min-width: 360px) {
  .App{
    width: 90vh;
  }
}
@media (min-width: 720px) {
  .App{
    width: 90vh;
  }
} */